<div id="slideshow-wrapper">
<div class="slideshow main-center" id="slideshow">
    <? foreach ($this->banners as $row) { ?>
    <? $url = (bool)$row->url ? $row->url : '#'; ?>
    <? $target = strstr($url,URL) ? '' : 'target="_blank"'; ?>
    <? $img = URL.'/img/destaques|'.@$row->foto_path;//.'?w=450&h=450'; ?>
    <? $img = IMG_URL.'/destaques/'.@$row->foto_path;//.'?w=450&h=450'; ?>
    <a href="<?=$url?>" class="foto" <?=$target?> title="<?=$row->titulo?>">
        <span class="desc-wrapper">
            <?/*<span class="titulo"><?=$row->titulo?></span>*/?>
            <span class="descricao"><?=$row->body?></span>
        </span>
        <span class="img-wrapper">
            <?/*<span class="img"><img src="<?=$img?>" alt="<?=$row->titulo?>" /></span>*/?>
            <span class="img" style="background-image:url(<?=$img?>);"></span>
        </span>
    </a>
    <? } ?>
</div>
</div>