<?=($this->banners) ? $this->render('index/banner.phtml') : ''?>

<article id="<?=$this->controller?>" class="main-center">
	<section id="empresa">
		<h1 class="pagina-titulo-left">EMPRESA</h1>
		<div class="pagina-body"><?=$this->pag_empresa->body?></div>
	</section>
	
	<section id="stands">
		<h1 class="pagina-titulo-left">STANDS</h1>

		<div id="stands-wrapper">
		<nav id="stands-list" style="width: <?=(count($this->stands))*275?>px">
			<? foreach($this->stands as $row){ ?>
			<? $img = @$row->fotos[0]->path; ?>
			<? $style = $img ? ' style="background-image:url('.IMG_URL.'/produtos/'.$img.')" ' : ''; ?>
			<a href="<?=URL?>/stands/<?=$row->alias?>" class="stand" <?=$style?>>
				<span class="titulo">
					<span><?=$row->titulo?></span>
				</span>
			</a>
			<? } ?>
		</nav>
		</div>

		<br clear="all">
	</section>
	
	<section id="areas">
		<h1 class="pagina-titulo-left">ÁREAS DE ATUAÇÃO</h1>
		<ul id="areas-list">
			<? foreach($this->areas as $row){ ?>
			<li>
				<a class="area">
					<span>
						<? if((bool)trim(@$row->foto_path)){ ?>
						<img src="<?=IMG_URL?>/categorias/<?=$row->foto_path?>" alt="<?=$row->descricao?>"> <br>
						<? } ?>
						<?=$row->descricao?>
					</span>
				</a>
			</li>
			<? } ?>
		</ul>
	</section>

	<section id="clientes">
		<h1 class="pagina-titulo-left">CLIENTES</h1>

		<ul id="clientes-list">
			<li>
				<? foreach($this->clientes as $row){ ?>
				<? $img = IMG_URL.(($row->foto_path)?'/clientes2/'.$row->foto_path:'not-found.jpg'); ?>
				<? $style = 'style="background-image: url('.$img.')"'; ?>
				<a href="<?=$row->link?>" target="_blank" class="cliente" <?=$style?>>
					<?=$row->titulo?>
				</a>
				<? } ?>
			</li>
		</ul>
	</section>

	<hr>

	<section id="videos">
		<div class="videos-titulo mobile">
			<h1 class="pagina-titulo">VÍDEOS</h1>
		</div>
		
		<? $video = $this->videos[0]; ?>
		<div class="video video-1">
			<?=$this->bbCode('[video]'.$video->url.'[/video]')?>
		</div>
		
		<? $video = $this->videos[1]; ?>
		<div class="video video-2">
			<?=$this->bbCode('[video]'.$video->url.'[/video]')?>
		</div>
		
		<div class="videos-titulo desktop">
			<h1 class="pagina-titulo">VÍDEOS</h1>
		</div>
	</section>
</article>