<?=Js::load(JS_PATH."/admin/search.js");?>

<?=$this->render($this->section."/search.phtml");?>

<div class="pousada search-result">
    <? if($this->rows){ ?>
    <table>
        <thead>
            <tr>
                <td>Nome</td>
                <td>Login</td>
                <td>E-mail</td>
                <td width="50" align="center">Status</td>
                <td width="50" align="center">Excluir</td>
            </tr>
        </thead>
        <tbody>
            <? foreach($this->rows as $row){ ?>
            <? $status = $row->status_id == 0 ? "Inativo" : "Ativo"; ?>
            <tr>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$row->nome?></a>
                </td>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$row->login?></a>
                </td>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$row->email?></a>
                </td>
                <td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$status?></a>
                </td>
                <td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section?>/del/id/<?=$row->id?>/" class="del">X</a>
                </td>
            </tr>
            <? } ?>
        </tbody>
    </table>
    <? } else { ?>
    Nenhum registro.
    <? } ?>
</div>