<?=Js::script('allow_photos = '.($this->allow_photos ? 'true' : 'false').';')?>
<? /*if($this->id){ ?>
<div class="content-right">
    <div id="previa">
        <?=$this->render('mensagens/previa.phtml');?>
    </div>
</div>
<? }*/ ?>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
        <ul>
            <? if($this->id){ ?>
            <li class="txt">
                <label for="">Referência</label>
                <a class="txt link-mensagen" href="#" target="_blank">
                    <?=$this->form->titulo->getValue()?>
                </a>
            </li>
            <? } ?>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="<?=$this->id?'Salvar':'Criar'?>" id="submit" />
        </div>
    </form>
</div>