<div id="trabalhe-wrapper">
<div id="trabalhe">
<a class="site-title" href="<?=URL?>/" title="<?=SITE_TITLE?>"><?=SITE_TITLE?></a>
<h2><?=$this->pag_trabalhe->titulo2?></h2>

<div class="pagina-body"><?=$this->pag_trabalhe->body?></div>

<div class="frm-trabalhe-wrapper">
    <form action="<?=URL.'/contato/enviar'?>" class="contato trabalhe" method="post" enctype="multipart/form-data">
        <div class="accordion-wrapper">
        <a href="#frm-trabalhe-campos-1" class="titulo accordion-item open">
            Dados pessoais
        </a>
        <ul id="frm-trabalhe-campos-1" class="ul-1 accordion-content">
            <li class="li-nome">
                <input type="text" name="nome" id="nome" class="txt required" placeholder="NOME COMPLETO *" />
            </li>
            <li class="li-datanasc">
                <input type="text" name="data_nasc" id="data_nasc" class="txt mask-date required" placeholder="DATA DE NASCIMENTO *" />
            </li>
            <li class="li-email">
                <input type="text" name="email" id="email" class="txt required" placeholder="E-MAIL *" />
            </li>
            <li class="li-telefone">
                <input type="text" name="telefone" id="telefone" class="txt mask-cel required" placeholder="TELEFONE *" />
            </li>
            <li class="li-sexo">
            	SEXO* 
            	<a href="#" class="sexo sexo-0" data-sexo="0">Masculino</a>
            	<a href="#" class="sexo sexo-1" data-sexo="1">Feminino</a>
                <input type="hidden" name="sexo" id="sexo" value="0" />
            </li>
            <li class="li-cidade half half-2">
                <input type="text" name="cidade" id="cidade" class="txt required" placeholder="CIDADE *" />
                <input type="text" name="estado" id="estado" class="txt bdl required" maxlength="2" placeholder="ESTADO *" />
            </li>
        </ul>

        <a href="#frm-trabalhe-campos-2" class="titulo accordion-item">
            Dados complementares
        </a>
        <ul id="frm-trabalhe-campos-2" class="ul-2 accordion-content">
        	<li class="li-escolaridade">
        		ESCOLARIDADE * 
                <?=$this->formSelect('escolaridade',null,array('class'=>'txt required','required'=>true),array('__none__'=>'')+Application_Form_Contato::escolaridades())?>
            </li>
        	<li class="li-cursos">
                <input type="text" name="cursos" id="cursos" class="txt" placeholder="CURSOS ADICIONAIS" />
            </li>
        	<li class="li-idiomas">
                <input type="text" name="idiomas" id="idiomas" class="txt" placeholder="IDIOMAS ADICIONAIS" />
            </li>
        	<li class="li-area_interesse">
                <input type="text" name="area_interesse" id="area_interesse" class="txt" placeholder="ÁREA DE INTERESSE" />
            </li>
        	<li class="li-pretensao">
                <input type="text" name="pretensao" id="pretensao" class="txt required" placeholder="PRETENSÃO SALARIAL *" />
            </li>
        </ul>

        <a href="#frm-trabalhe-campos-3" class="titulo accordion-item">
            Dados profissionais
        </a>
        <ul id="frm-trabalhe-campos-3" class="ul-3 accordion-content">
        	<li class="li-titulo">ÚLTIMA EMPRESA QUE TRABALHOU</li>
            <li class="li-empresa">
                <input type="text" name="empresa" id="empresa" class="txt" placeholder="NOME DA EMPRESA" />
            </li>
            <li class="li-empresa_cargo">
                <input type="text" name="empresa_cargo" id="empresa_cargo" class="txt" placeholder="CARGO" />
            </li>
            <li class="li-empresa_data_inicio">
                <input type="text" name="empresa_data_inicio" id="empresa_data_inicio" class="txt mask-date" placeholder="DATA DE INÍCIO" />
            </li>
            <li class="li-empresa_data_saida">
                <input type="text" name="empresa_data_saida" id="empresa_data_saida" class="txt mask-date" placeholder="DATA DE SAÍDA" />
            </li>

        	<li class="li-titulo mgt">PENÚLTIMA EMPRESA QUE TRABALHOU</li>
            <li class="li-empresa2">
                <input type="text" name="empresa2" id="empresa2" class="txt" placeholder="NOME DA EMPRESA" />
            </li>
            <li class="li-empresa2_cargo">
                <input type="text" name="empresa2_cargo" id="empresa2_cargo" class="txt" placeholder="CARGO" />
            </li>
            <li class="li-empresa2_data_inicio">
                <input type="text" name="empresa2_data_inicio" id="empresa2_data_inicio" class="txt mask-date" placeholder="DATA DE INÍCIO" />
            </li>
            <li class="li-empresa2_data_saida">
                <input type="text" name="empresa2_data_saida" id="empresa2_data_saida" class="txt mask-date" placeholder="DATA DE SAÍDA" />
            </li>
            
            <li class="li-file">
				ANEXAR CURRÍCULO
                <input type="file" name="curriculo" id="arquivo" class="arquivo trabalhe  " />
            </li>
        </ul>
        </div>
        
        <ul class="ul-3">
            <li class="submit-container">
                <input type="hidden" name="mensagem_id" value="12">
                <input type="hidden" name="assunto" value="Trabalhe Conosco">
                <input type="submit" class="submit" value="Enviar">
                <input type="hidden" name="redirect_url" value="<?=URL.'/'.$this->controller.(($this->action!='index') ? '/'.$this->action : '')?>">
                <p class="status"></p>
            </li>
        </ul>
    </form>
</div>

</div>
<br clear="all" />
</div>